{% extends  'aplicacion/base_nueva.html' %}  
{% load static %}           


{% block titulo %}
<br>
   <div class="text-center">
      <h2> ¡Contactate con nuestros profesionales! </h2>
   </div>     
</br>
{% endblock titulo %}

{% block contenido %}

{% csrf_token %}
<br>
   {% if user.is_authenticated%}
      <div style="display: flex; align-items: center;">
         <h4 style="margin-right: 10px;">Agregar item de Asesor</h4>
         <a href="{% url 'create_asesor' %}" class="btn btn-primary btn-sm" style="padding: 5px;">
            <i class="bi bi-plus" title="New Record" style="font-size: 20px;"></i>
         </a>
      </div>
   {% endif %}    
</br>


<div class="container text-center">
   <div class="row justify-content-center">
       {% for asesor in asesores %}
       <div class="col-lg-5">
           <a href="#!"><img class="card-img-top" src="{% static 'aplicacion/images/asesor.jpg' %}" alt="..." /></a>
           <div class="card mb-4">
               <div class="card-body">
                   <h2 class="card-title">{{ asesor.nombre }} {{ asesor.apellido }}</h2>
                   <p class="card-text">Telefono de contacto {{ asesor.telefono }} </p>
                   <p class="card-text"> Email: {{ asesor.email }}</p>
                   {% if user.is_authenticated%}
                   <a class="btn btn-primary btn-dark" href="{% url 'update_asesor' asesor.id %}">Editar→</a>
                   <i class="fa fa-edit fa-sm" title="Edit Record"></i>
                   <a class="btn btn-danger"  href="{% url 'delete_asesor' asesor.id %}">Eliminar X </a>
                   <i class="fa fa-trash fa-sm" title="Edit Record"></i>
                   {% endif %}
                  
                  </a>
               </div>
           </div>
       </div>
       {% if forloop.counter|divisibleby:"2" %}
       </div><div class="row justify-content-center">
       {% endif %}
       {% endfor %}
   </div>
</div>
{% endblock contenido %}